* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.footerContainer {
  /* display: grid;
  grid-template-columns: ;
  height: 0px; */

  /* display: grid;  */
  height: fit-content;
  position: relative;
  bottom: 0px;
  background: white;
}

/* .footerItem {
  margin: auto;
  width: 50%;
} */
.social_links {
  display: flex;
  justify-content: space-around;
  padding: 15px 41%;
  font-size: 15px;
}

.navbar_links {
  display: flex;
  justify-content: space-around;
  padding: 7px 35%;
}
.navbar_links a {
  /* text-decoration: none; */
  font-size: 15px;
  font-family: oregano;
  color: #000;
}
i {
  /* font-size: 15px;
    border-radius: 50px; */

  background: #c3dedf;
  padding: 13px 16px;
  border-radius: 50%;
}
li {
  list-style: none;
}
.agreements {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  padding: 7px 39%;
}

.trademark {
  /* display: flex;
  padding: 7px 35%;
  font-size: 15px; */
  text-align: center;
  /* padding: 5px 30%; */
  padding: 0px 31%;
  font-size: 12px;
}

/*  */
