* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashContainer {
  height: 100vh;
  width: 100%;
  display: flex;
}

.dashSideBar {
  height: auto;
  width: 20%;
  background-color: #3498db;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}

.dashSideBar a {
  color: white;
}

.dashLogo {
  /* background-image: url("./assets/logo-062.svg"); */
}

.dashTable {
  height: 100vh;
  width: 80%;
  overflow: scroll;
}
